<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" style="background-color: #F5F1E8">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <style>
      header img {display:block; margin: 1em auto}
    </style>
  </head>
  <body style="background-color: #F5F1E8">
    <header>
      <img alt="logo" src="https://www.latex-project.org/img/latex-project-logo.svg"/>
     </header>
    <div class="container-lg px-3 my-5 markdown-body" style="background-color:white;margin-top:1em;margin-bottom:1em;">
      {% if site.title and site.title != page.title %}
      <h3><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h3>
      {% endif %}

      {{ content }}

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
